* text=auto eol=lf

*.js text
*.json text
*.md text
*.html text
*.css text
*.xml text
*.yml text
*.yaml text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.svg text
